h2 {
    transform: translateY(-10px);
    transition: 0.4s ease-out transform;
}  
.animate {
    h2 {
        transform: none;
        transition: 0.4s ease-out transform;
    }
}
.about-me, .container, .typing-text {
  transition: 1s cubic-bezier(0.85,-0.01, 0.58, 1);
}

.typing-text::after {
  content: '';
  margin-left: 10px;
  display: inline-block;
  transform: translateY(7px);
  background-color: white;
  height: 48px;
  width: 4px;
  animation: blinking 1.06s infinite;
}
  @keyframes blinking {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: white;
    }

    100% {
      background-color: transparent;
    }
  }
  $transition-delay-increment: 0.1s;
  li.skill {
    transform: translateX(200px);
    opacity: 0;
    animation: slide-in linear forwards;
    animation-timeline: view(50% 10%);
    animation-duration: 0.4s;
    transition: 0.4s cubic-bezier(0.85,-0.01, 0.58, 1) all ;

    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {
        animation-delay: $i * $transition-delay-increment;
      }
    }
  }
  

  .animate {
    li.skill {
      // transform: translateX(0);
      // opacity: 1;
      // transition: 0.4s cubic-bezier(0.85,-0.01, 0.58, 1) all ;

      @for $i from 1 through 13 {
        &:nth-child(#{$i}) {
          animation-delay: $i * $transition-delay-increment;
        }
      }
    }
  }

  @keyframes slide-in {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .button {
    position: relative;
    background-color: #333333;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    a {
      position: relative;
      z-index: 10;
    }
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: all 0.5s ease-in-out;
    }
  
    &:before {
      width: 3rem;
      height: 3rem;
      background-color: #805ad5;
      border-radius: 50%;
      box-shadow: 20px 20px 20px 30px #a21caf;
      right: 1rem;
      top: 1rem;
      z-index: 10;
      filter: blur(8px);
    }
  
    &:after {
      width: 5rem;
      height: 5rem;
      background-color: #f687b3;
      right: 2rem;
      top: 3rem;
      z-index: 10;
      border-radius: 50%;
      filter: blur(8px);
    }
  
    &:hover {
      border-color: #c09898;;
      color: #ed64a6;
      &:before {
        box-shadow: 20px 20px 20px 30px #a21caf;
        filter: blur(8px);
      }
    }
  
    &:hover:before {
      right: 5rem;
      top: -3rem;
      filter: blur(8px);
      
    }
    
    &:hover:after {
      right: -8rem;
      top: 3rem;
      filter: blur(8px);
    }
  }

