@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Roboto:wght@400;700&display=swap');

*, html {
    scroll-behavior: smooth !important;
}

h3, p, li, a, div {
    font-family: 'Roboto';
}
h1, h2{
    font-family: 'geologica';
}
h3 {
    font-size: 18px;
}

a, a:active, a:visited{
    text-decoration: none;
    color: unset;
}

p {
    line-height: 28px;
}

h1, h2 {
    font-size: 48px;
    line-height: 64px;
}
h1 {
    min-height: 64px;
}

h2 {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: black;
}

.max-readable {
    max-width: 700px;
}

.button {
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    
    a {
        font-size: 16px;
        color: #f8f9fb !important;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 25px;
    }

    img {
        height: 13px;
        width: auto;
    }
}
.button, button:hover, .button img {
    transition: 0.1s ease-out all;
}

.button.about {

    img {
        transition: 0.1s ease-out all;
    }
    
    &:hover {
        img {
            transform: translateX(10px);
        }
    }
}
.button.outline {
    background-color: #212121;
    border: 1px solid #f8f9fb;
}

.section-image {
    height: 40px;
    width: auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding: calc(5vw + 77px) 5vw;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    width: 100%;
    gap: 24px;
}

nav, nav ul {
    display: flex;
    flex-direction: row;
}

nav {
    z-index: 5;
    padding: 0 5vw;
    width: 100%;
    height: 77px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    .name {
        color: white;
        font-weight: bold;
        margin-right: 20px;
    }

    .navigation {
        
        gap: 20px;
        align-items: center;

        .nav-item {
            position: relative;
            

            a {
                color: white;
                position: relative;
                text-decoration: none;
                font-family: 'Roboto';   
            }
        }
    }
}

body.scrolled nav {
    background-color: rgb(70 66 66 / 70%);
    backdrop-filter: blur(4px);

    .button {
        a {
            color:white !important;
        }
    }
}

nav, body.scrolled nav {
    transition: cubic-bezier(0.13, 0.63, 0.32, 1);
    transition-duration: .2s;
}

section.hero {
    padding: calc(77px + 5vw) 5vw calc(77px + 5vw) 5vw;
    min-height: 70vh;
    min-height: 700px;
    max-height: 100vh;
    width: 100%;
    color: white;
    position: relative;

    .container{
        gap: 24px;
    }
    .button {
        margin-top: 30px;
    }

    .typing-text {
        display: contents;
    }

    
}

section.skills {
    background-color: #212121;

    h2{
        color: white;
    }

    .skills-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .skill {
            background-color: white;
            padding: 10px 20px;
            font-weight: bold;
            color: #212121;
            border-radius: 4px;
        }
    }
}


section.experience {
    background-color: #323232;
    color: white;

    .position {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 100%;

        .position-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;

            p {
                font-weight: normal;
            }
        }
    }
    .separator {
        background-color: white;
    }
}

section.projects {
    background-color: #f8f9fb;

    .project {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .project-header a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 20px;
       
            h3 {
                font-weight: bold;
            }
            img{
                width: 15px;
                height: 15px;
            }
        }

        .stack {
            display: flex;
            gap: 5px; 
            flex-wrap: wrap;

            .outline {
                border: 1px solid black;
                border-radius: 3px;
                padding: 5px;
                display: inline-block;
            }
        }
    }
    .separator {
        background-color: black;
    }
}
.separator {
    height: 1px;
    width: 100px;
    margin: 20px 0;
}

section.footer {
    background-color: #212121;
    color: white;
    
    .contact, .contact li {
        display: flex;
        flex-direction: column; 
    }
    .contact {
        gap: 10px;
        align-items: flex-start;

        li {
            gap: 5px;
            align-items: center;
        }
        img {
            margin-right: 5px;
            vertical-align: middle;
            height: 15px;
            width: auto;
        }
    }
}

@media (max-width: 801px) {
    h1 {
        max-width: 475px;
    }
}
@media (max-width: 750px) {
    .navigation {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: 0.2s ease-out transform .2s .4s ease display;
    }
    
    .overlay {
        transition: 0.1s ease-out;
    }
    .burger {
        display: flex;
        position: fixed;
        right: 5vw;
        top: 23px;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;

        .line{
            transition: .2s .5s background-color;
            position: relative
        }

        .line, .line::after, .line::before {
            border-radius: 2px;
            height: 3px;
            width: 100%;
            background-color: #f8f9fb;
        }
        .line::after, .line::before {
            content: '';
            position: absolute;
            transition: .5s transform, .2s .5s top, .2s .5s background-color;

        }
        .line::before {
            top: -10px;
        }
        .line::after {
            top: 10px;
        }
    }

    body.nav-open {
        overflow: hidden;

        .overlay {
            z-index: 2;
            position: fixed;
            background-color: rgb(70 66 66 / 70%);
            backdrop-filter: blur(4px);
            height: 100vh;
            width: 100vw;
            opacity: 0.9;
            transition: 0.2s ease-out transform;
        }
        .name a {
            color: white !important;
        }

        .burger {
            // .line, .line::before, .line::after {
            //     background-color: #212121;
            // }
            .line::after, .line::before {
                top: 0;
                transition: .5s .3s transform, .2s .1s top, .1s  background-color;
            }
    
            .line {
                background-color: transparent;
                height: 0px;
                padding-top:3px;
                transition: .5s .3s transform, .2s .1s top, .1s  background-color;
            }
    
            .line::before {
                transform: rotate(45deg); 
            }
    
            .line::after {
                transform: rotate(-45deg);
            }
        }
        nav {
            background-color: transparent;
        }
        .navigation {
            box-shadow:  0 0 50px #00000012;
            transform: none;
            visibility: visible;
            position: fixed;
            right: 5vw;
            top: 97px;
            width: 300px;
            flex-direction: column;
            background-color: white;
            border-radius: 6px;
            opacity: 1;
            gap: 0;

            .name a {
                background-color: #212121;
                z-index: 10;
            }
            
            .nav-item {
                border-radius: 6px;
                width: 100%;
                padding: 0;
                opacity: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                a {
                    width: 100%;
                    height: 100%;
                    padding:20px 30px;
                    color:#212121;
                    position: relative;
                }

                &:hover{
                    a::after {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        top: 24px;
                        right: 30px;
                        border-radius: 4px;
                        background-color: #8c33ec;
                    }
                }
            }
            .nav-item:last-child {
                width: 300px !important;
                padding: 0;
                position: fixed;
                top: 341px;
                right: 5vw;

                .button {
                    
                    a {
                        width: 300px;
                    }
                    
                }
            }
        }
       
    }
    .footer .contact a {
        padding: 10px 0;
    }
}  
.cursor {
    display: none;
}
@media (min-width: 1200px) {
    .blend-mode-wrapper{
        mix-blend-mode: difference;
    }
    .cursor {
        display: block;
        visibility: hidden;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -5;
        background-color: white;
        transition: cubic-bezier(0, 0.74, 0, 0.95);
        
    
        &.big{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            transition: .5s cubic-bezier(0, 0.74, 0, 0.95);
        }
    }
}

@media (max-width: 570px) {
    section.experience .position .position-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    } 
    section, section.hero {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    nav {
        padding: 0 2.5vw;
    }
    .burger {
        right: 2.5vw;
    }
    
    body.nav-open .navigation, body.nav-open .navigation .nav-item:last-child  {
        right: 2.5vw;
    }
}
@media (max-width: 350px) {
    body.nav-open .navigation, body.nav-open .navigation .nav-item:last-child{
        width: calc(100% - 5vw) !important;
        
        button {
            width: 100%;
        }
    }
}