@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Roboto:wght@400;700&display=swap');
@import '/css/variables.scss';
@import 'css/3d.scss';

*, html {
    scroll-behavior: smooth !important;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: $very-dark-navy;
    color: white;
    font-family: 'Geologica';
}

h3, p, li, a, div {
    font-family: 'Roboto';
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h1, h2{
    font-family: 'Geologica';
}
h3 {
    font-size: 24px;
}

a, a:active, a:visited{
    text-decoration: none;
    color: unset;
}

p, span, b {
    font-size: 18px;
    max-width: 600px;
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}


ul {
    list-style-type: none;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding: 5vw;
}

// .button {
//     padding: 0;
//     border: none;
//     border-radius: 6px;
//     background-color: $violet;
//     box-shadow: 0px 0px 10px 1px inset lighten($violet, 20%);
    
//     a {
//         color: white;
//         font-size: 16px;
//         font-weight: bold;
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         padding: 15px 25px;
//     }

//     img {
//         height: 13px;
//         width: auto;
//     }

//     &.cv img {
//         height: 20px;
//     }

//     &.about {
//         img {
//             transition: 0.1s ease-out all;
//         }
        
//         &:hover {
//             img {
//                 transform: translateX(10px);
//             }
//         }
//     }

//     &:hover {
//         box-shadow: 0px 0px 10px 1px inset darken($violet, 20%);
//     }

//     &:hover, img {
//         transition: 0.1s ease-out all;
//     }
// }
.button {
    padding: 0;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    background: $dark-navy;
    box-shadow:  7px 7px 7px darken($peach, 20%),
             -7px -7px 7px lighten($violet, 10%);
    
    a {
        color: white;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 25px;
    }

    img {
        height: 13px;
        width: auto;
    }

    &.cv img {
        height: 20px;
    }

    &.about {
        img {
            transition: 0.1s ease-out all;
        }
        
        &:hover {
            img {
                transform: translateX(10px);
            }
        }
    }

    &:hover {
        box-shadow: 0px 0px 10px 1px inset darken($violet, 20%);
    }

    &:hover, img {
        transition: 0.1s ease-out all;
    }
}

section .container {
    display: flex;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    gap: 24px;
}

nav, nav ul {
    display: flex;
}

nav {
    z-index: 15;
    margin: 20px 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: fit-content;
    max-width: 95vw;
    border-radius: 10px;
    background-color: $dark-navy;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    box-shadow: 0px 0px 7px 1px inset rgb(210 202 202 / 50%);
    transition: .5s .1s ease all;

    &.skills {
        box-shadow: 0px 0px 10px 1px inset $nav-skills-color;
        background-color: darken($nav-skills-color, 60%);
        transition: 1s;
    }
    &.projects {
        box-shadow: 0px 0px 10px 1px inset $nav-projects-color;
        background-color: darken($nav-projects-color, 60%);
        transition: .3s;
    }
    &.experience {
        box-shadow: 0px 0px 10px 1px inset $nav-experience-color;
        background-color: darken($nav-experience-color, 60%);
        transition: .3s;
    }
    &.contact {
        box-shadow: 0px 0px 10px 1px inset $nav-contact-color;
        background-color: darken($nav-contact-color, 60%);
        transition: .3s;
    }
    &.cv {
        box-shadow: 0px 0px 10px 1px inset $violet;
        background-color: darken($violet, 60%);
        transition: .3s;
    }
}

.navigation {
    gap: 20px;
    align-items: center;

    .nav-item a {
        padding: 15px;
    }
}

.scroll-top-button {
    z-index: 10;
    position: fixed;
    bottom: 64px;
    right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    opacity: 0;
    transition: .3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
    transform: translateY(-30px);
    visibility: hidden;

    img {
        aspect-ratio: 1 / 1;
        width: 50px;
    }
    
   
    &:hover {
        transform: scale(1.1);
        transition: $project-transition;
    }
}

body.scrolled .scroll-top-button {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: .3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
}


body.scrolled nav {
    background-color: rgba($dark-navy, 20%);
    backdrop-filter: blur(4px);
}

nav, body.scrolled nav {
    transition: .3s cubic-bezier(0.13, 0.63, 0.32, 1);
    transition-duration: .2s;
}

section.hero {
    padding: calc(77px + 5vw) 5vw calc(77px + 5vw) 5vw;
    min-height: 700px;
    min-height: 70vh;
    max-height: 100vh;
    width: 100%;
    color: #d4d6e8;
    background-color: $dark-navy;
    position: relative;

    .container {
        gap: 5vw;
        align-items: center;
        justify-content: center;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;

        .availability{
            display: flex;
            padding:  4px 12px;
            gap: 12px;
            align-items: center;
            background: linear-gradient($very-dark-navy, $very-dark-navy) padding-box,
              linear-gradient(163deg, rgba($peach, 30%) 30%, rgba($violet, 50%)) border-box;
            border-radius: 24px;
            border: 1px solid transparent;

            .dot {
                background-color: #78df41;
                border-radius: 50%;
                width: 8px;
                height: 8px;
            }
        }
        h2 {
            color: transparent;
            background: linear-gradient(163deg, rgba($peach, 80%) 30%, $violet) text;
            -webkit-text-fill-color: transparent;
        }
        .about-me {
            font-size: 20px;
            max-width: 100%;
        }
        .technologies {
            display: flex;
            gap: 8px;

            div {
                border: rgba($peach, 40%) 1px solid;
                padding: 4px 12px;
                border-radius: 24px;
            }
        }

    }


    .button {
        margin-top: 30px;
    }
    
}

section.skills {
    .container{
        gap: 48px;
        // flex-wrap: wrap;
        flex: 1;
        align-items: stretch;
        justify-content: space-between;
        padding: 48px;
        max-height: 600px;
    }
    
    .skills-description {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .frontend-skills, .other-skills {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
    .skills-container {
        overflow: hidden;
        width: 504px;
        padding: 8px;
        //TODO: add after pseudo element with shadow
        // box-shadow: 0 0 10px inset white;
        background-color: $dark-navy;
        border-radius: 24px;
    }
    
    .moving-container {
        width: 150%;
        height: 150%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 8px;

        .skill {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            background-color: white;
            padding: 16px;
            font-weight: bold;
            border-radius: 24px;
            position: relative;
            overflow: hidden;

            img {
                max-height: 80%;
                max-width: 100px;
            }

            &::after, &::before {
                content: '';
                position: absolute;
                z-index: 20;
                visibility: hidden;
                transition: .3s cubic-bezier(1, 0.14, 0.58, 1);
                border-radius: 24px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            
            &::before {
                width: 0;
                height: 0;
                backdrop-filter: blur(3px);
            }
            
            &::after {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                padding: 8px;
            }

            
            &:hover {
                &::before, &::after {
                    visibility: visible;
                    transition: .3s cubic-bezier(1, 0.14, 0.58, 1);
                    transition-duration: .5s;
                }

                &::before {
                    height: 100%;
                    width: 100%;
                }

                &::after {
                    opacity: 1;
                }
            }
            &.html {
                &::before {
                    background-color: rgba(#db6e30, 0.7);
                }
                &::after {
                    content: 'HTML'
                }
            }

            &.css {
                &::before {
                    background-color: rgba(#5694f0, 0.7);
                }
                &::after {
                    content: 'CSS'
                }
            }
            
            &.scss {
                &::before {
                    background-color: rgba(#bc6e99, 0.7);
                }
                &::after {
                    content: 'SCSS'
                }
            }
            
            &.javascript {
                &::before {
                    background-color: rgba(#f7df1e, 0.7);
                }
                &::after {
                    color:black;
                    content: 'JavaScript'
                }
            }
            &.react {
                &::before {
                    background-color: rgba(#8bd7fa, 0.7);
                }
                &::after {
                    content: 'React'
                }
            }
            &.typescript {
                &::before {
                    background-color: rgba(#4178ca, 0.7);
                }
                &::after {
                    content: 'TypeScript'
                }
            }
            &.redux {
                &::before {
                    background-color: rgba(#6850ae, 0.7);
                }
                &::after {
                    content: 'Redux Toolkit'
                }
            }
            &.git {
                &::before {
                    background-color: rgba(#db602c, 0.7);
                }
                &::after {
                    content: 'Git'
                }
            }
            &.vite {
                &::before {
                    background-color: rgba(#9077cb, 0.7);
                }
                &::after {
                    content: 'Vite'
                }
            }
            &.photoshop {
                &::before {
                    background-color: rgba(#5aa6f2, 0.7);
                }
                &::after {
                    content: 'Photoshop'
                }
            }
            &.figma {
                &::before {
                    background-color: rgba(white, 0.7);             
                }
                &::after {
                    color: black;
                    content: 'Figma'
                }
            }
            &.wordpress {
                &::before {
                    background-color: rgba(#506e94, 0.7);
                }
                &::after {
                    content: 'Wordpress'
                }
            }
            &.components {
                &::before {
                    background-color: rgba(#df6f2b, 0.7);
                }
                &::after {
                    content: 'Web Components'
                }
            }
            &.api {
                &::before {
                    background-color: rgba(#000000, 0.7);
                }
                &::after {
                    content: 'Rest API'
                }
            }
        }
    }
}


section.experience {
    .container {
        gap: 48px;
        padding: 48px;
        width: 90vw;
        max-width: 1600px;
        border-radius: 25px;
        background-color: $lighter-navy;
        justify-content: space-between;
        flex: 1 50%;

        .experience-data {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .position {
                background-color: $very-dark-navy;
                box-shadow: 0 0 4px inset rgba(255, 255, 255, 0.389);
                padding: 8px;
                border-radius: 16px;
                display: flex;
                gap: 8px;
                flex-direction: column;
                width: 100%;
                
                & > div {
                    box-shadow: 0 0 4px rgba(255, 255, 255, 0.119);
                    background-color: $dark-navy;
                    border-radius: 8px;
                    border: 1px solid rgba(255, 255, 255, 0.108);
                    padding: 18px;
                }
                
        
                .position-header {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-weight: bold;
                    gap: 4px;

                    p {
                        color: $violet
                    }
                }
            }
        }
        .experience-image {
            border-radius: 24px;
            overflow: hidden;
            margin: auto 0;

            img {
                width: 100%;
                max-width: 500px;
            }
        }
    }

}



section.projects {
    background-color: $very-dark-navy;

    .container {
        flex-direction: column;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 24px;
        transition: $project-transition;
    }

    .project {
        flex: 1 400px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        background-color: rgb(255 255 255 / 3%);
        border-radius: 20px;
        padding: 8px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px 1px .3px -1px,
         rgba(0, 0, 0, 0.153) 0px 2.3px 1.1px -2px, 
         rgba(0, 0, 0, 0.075) 0px 10px 5px -3.5px;
        transition: $project-transition;


        &.memo {

            .image{
                background-image: url('../img/memo-game.png');
            }
        }
        
        &.langbe {
            
            .image{
                background-image: url('../img/langbe-online.png');
            }
        }
        &.tip-calculator {
            
            .image{
                background-image: url('../img/tip-calculator.png');
            }
        }
       
        

         &:hover {
            flex: 3 400px;
            transition: $project-transition;
            transition-delay: .05s;

            div { 
                transition: $project-transition;
                background-origin: border-box;
                background-clip: padding-box, border-box;
            }

            &.memo > div {
                background-image: linear-gradient($memo-color, $memo-color), 
                    radial-gradient(circle at top left, $memo-border-gradient-start, $memo-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208),
                0 0 10px $memo-color;
            }

            &.langbe > div {
                background-image: linear-gradient($langbe-color, $langbe-color), 
                    radial-gradient(circle at top left, $langbe-border-gradient-start, $langbe-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208),
                0 0 10px $langbe-color;
            }

            &.tip-calculator > div {
                background-image: linear-gradient($tip-calculator-color, $tip-calculator-color), 
                    radial-gradient(circle at top left, $tip-calculator-border-gradient-start, $tip-calculator-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208),
                0 0 10px $tip-calculator-color;
            }

            &.code-lovers > div {
                background-image: linear-gradient($code-lovers-color, $code-lovers-color), 
                                radial-gradient(circle at top left, $code-lovers-border-gradient-start, $code-lovers-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208),
                0 0 10px $code-lovers-color;
            }
            
            &.dentamedic > div {
                background-image: linear-gradient($dentamedic-color,$dentamedic-color),
                                radial-gradient(circle at top left, $dentamedic-border-gradient-start, $dentamedic-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208),
                0 0 10px $dentamedic-color;
            }
            
            &.maxtor > div {
                background-image: linear-gradient($maxtor-color, $maxtor-color), 
                                radial-gradient(circle at top left, $maxtor-border-gradient-start, $maxtor-border-gradient-end);
                box-shadow: 0 0 20px inset rgba(255, 255, 255, 0.208), 0 0 10px $maxtor-color;
            }
            

            .project-image {
                transform: scale(1.1) translateY(55px);
            }

            .project-description {
                background-image: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.777));
                opacity: 1;
                visibility: visible;
                transition: $project-transition;
                
                p, .stack {
                    opacity: 1;
                    transform: translateY(0);
                    transition: $project-transition;
                    transition-duration: .7s;
                    transition-delay: .1s;   
                }
            }
         }

        .project-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: $project-border;
            background-color: $very-dark-navy;
            padding: 30px;
            border-radius: 20px;
            display: flex;
            gap: 10px;

            .links {
                display: flex;
                gap: 10px;
            }

            a {
                display: block;
                height: 40px;
                width: 40px;
            }
            
            a.github {
                background: url('../img/github.png') 0 0 /contain no-repeat;
            }
            a.live-site {
                background: url('../img/link.png') 0 0 /contain no-repeat;
            }
            
            h3 {
                font-weight: bold;
            }
            
            img {
                width: 15px;
                height: 15px;
            }
        }

        .project-body {
            border: $project-border;
            border-radius: 20px;
            background-color: $very-dark-navy;
            padding: 30px;
            height: 100%;
            position: relative;
            overflow: hidden;
            visibility: visible;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .project-image {
                width: 80%;
                aspect-ratio: 1024 / 1366;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border: 10px solid #2c2c2c; 
                border-radius: 20px;
                position: relative;

                .image {
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;

                    video {
                        width: 100%;
                    }
                }
              }
              
              .project-image::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 30%;
                height: 10px;
                background-color: #2c2c2c;
                border-radius: 0 0 5px 5px;
              }
        }
        .memo .project-description{
            background-color: $memo-background-color;
        }
        .langbe .project-description{
            background-color: $langbe-background-color;
        }

        .project-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 10px;
            box-shadow: inset 0px -111px 139px -72px rgba(0, 0, 0, 0.466);
            padding: 30px;
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: $project-transition;
            
            p, .stack {
                opacity: 0;
                transition: $project-transition;
                transform: translateY(30px);
            }
        }
        

        .stack {
            display: flex;
            gap: 5px; 
            flex-wrap: wrap;

            .outline {
                color: inherit;
                border: $project-border;
                border-radius: 5px;
                padding: 8px;
                display: inline-block;
            }
        }
    }
}

section.footer {
    border-radius: 24px 24px 0 0;
    background-color: $lighter-navy;

    .container {
        flex-direction: column;
    }
    
    .contact, .contact li {
        display: flex;
        flex-direction: column; 
    }
    .contact {
        gap: 10px;
        align-items: flex-start;

        li {
            gap: 5px;
            align-items: center;
        }
        img {
            margin-right: 5px;
            vertical-align: middle;
            height: 15px;
            width: auto;
        }
    }
}

@media (max-width: 801px) {
    h1 {
        max-width: 475px;
    }
}
@media (max-width: 633px) {
   
    nav {
        visibility: hidden;
        margin: 2.5vw;
        transform: translateX(0);
        width: 100%;

    }
    .navigation {
        visibility: hidden;
        opacity: 0;
        // transform: translateX(200%);
        transition: 0.2s ease-out transform .2s .4s ease display;
    }
    
    .overlay {
        transition: 0.1s ease-out;
    }
    .burger {
        visibility: visible;
        display: flex;
        position: fixed;
        right: 2.5vw;
        top: 20px;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        .line {
            transition: .2s .5s background-color,  .2s .5s box-shadow;
            position: relative
        }

        .line, .line::after, .line::before {
            border-radius: 2px;
            height: 4px;
            width: 100%;
            background-color: #f8f9fb;
            box-shadow: 0 0 1px .5px inset rgb(194, 194, 194);
        }
        .line::after, .line::before {
            content: '';
            position: absolute;
            transition: .5s transform, .2s .5s top, .2s .5s background-color;

        }
        .line::before {
            top: -12px;
        }
        .line::after {
            top: 12px;
        }
    }

    body.nav-open {
        overflow: hidden;

        .overlay {
            z-index: 12;
            position: fixed;
            background-color: rgb(70 66 66 / 70%);
            backdrop-filter: blur(4px);
            height: 100vh;
            width: 100vw;
            opacity: 0.9;
            transition: 0.2s ease-out transform;
        }

        .burger {
            .line::after, .line::before {
                top: 0;
                transition: .5s .3s transform, .2s .1s top, .1s  background-color;
            }
    
            .line {
                background-color: transparent;
                box-shadow: unset;
                height: 0px;
                padding-top:3px;
                transition: .5s .3s transform, .2s .1s top, .1s  background-color, .1s box-shadow;
            }
    
            .line::before {
                transform: rotate(45deg); 
            }
    
            .line::after {
                transform: rotate(-45deg);
            }
        }
        .navigation {
            box-shadow:  0 0 50px #00000012;
            transform: none;
            visibility: visible;
            position: fixed;
            right: 2.5vw;
            top: 97px;
            width: 300px;
            flex-direction: column;
            background-color: white;
            border-radius: 6px;
            opacity: 1;
            gap: 0;
            padding: 15px;

            .name a {
                background-color: #212121;
                z-index: 10;
            }
            
            .nav-item {
                font-weight: bold;
                border-radius: 6px;
                width: 100%;
                padding: 0;
                opacity: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                a {
                    width: 100%;
                    height: 100%;
                    padding:20px 30px;
                    color:#212121;
                    position: relative;
                }
                button a {
                    color: white;
                }
            }
        }
       
    }
    .footer .contact a {
        padding: 10px 0;
    }
}  
.cursor {
    display: none;
}
@media (min-width: 1200px) {
    .blend-mode-wrapper{
        mix-blend-mode: difference;
    }
    .cursor {
        display: block;
        visibility: hidden;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -5;
        background-color: white;
        transition: cubic-bezier(0, 0.74, 0, 0.95);
        
    
        &.big {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            transition: .5s cubic-bezier(0, 0.74, 0, 0.95);
        }
    }
}

@media (max-width: 570px) {
    section.experience .position .position-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    } 
    section, section.hero {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    
    body.nav-open .navigation, body.nav-open .navigation .nav-item:last-child  {
        right: 2.5vw;
    }
}
@media (max-width: 350px) {
    body.nav-open .navigation, body.nav-open .navigation .nav-item:last-child{
        width: calc(100% - 5vw) !important;
        
        button {
            width: 100%;
        }
    }
}