

//Background
$lighter-navy: #0A0E1D;
$dark-navy: #090D1C;
$very-dark-navy: #010314;
$white: #d4d6e8;

//Accent
$peach: #ed9b60;
$violet:#8c72fb;

//Projects
// $memo-color: #703047;
$memo-color: #d7195f;
// $langbe-color: #e8713a;
$langbe-color: #e59321;
// $tip-calculator-color: #c5e4e7;
$tip-calculator-color: #33b097;
// $code-lovers-color: #f0c8af;
$code-lovers-color: #939ff3;
// $dentamedic-color: #bbbdbe;
$dentamedic-color: #313131;
$maxtor-color: #d3093c;


$project-border: 1px solid rgba(255, 255, 255, 0.142);
$project-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
$memo-background-color: rgba($memo-color, 0.7);

$langbe-background-color: rgba($langbe-color, 0.7);

$nav-items: (
  skills: $peach,
  projects: #8c58cb ,
  experience: #c570ad ,
  contact: $violet,
  cv: $white
);

$projects: (
  memo: #d7195f,
  langbe: #e59321,
  tip-calculator: #33b097,
  code-lovers: #939ff3,
  dentamedic: #121318,
  maxtor: #d3093c
);